<ion-header>
  <ion-navbar no-border-bottom >
    <ion-row>
      <ion-col col-9 offset-1>
        <ion-title>Save My Money</ion-title>
      </ion-col>
      <ion-col>
        <button ion-button (click)="addMovimento()" class="Bottone" outline>
          <ion-icon name="add-circle" ></ion-icon>
        </button>   
    </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list >
    <ion-list-header>{{'POSITIVO' | translate}}</ion-list-header>
    <ion-list *ngFor="let e of movimenti" >
      <ion-item *ngIf="e.categoria.segno == true">
        <button ion-button  (click)="UpdateMovimento(e)" class="buttonList" block outline>
            <ion-grid>
                <ion-row>
                  <ion-col col-8><h2 class="alignLeft">{{e.categoria.nome}}</h2></ion-col>
                  <ion-col><h2 class="greenButton"> {{'CURRENCY_VALUE'| translate}} +{{e.importo}}</h2></ion-col>
                </ion-row>
            </ion-grid>
        </button>
      </ion-item>
    </ion-list>
    
    <ion-list-header>{{'NEGATIVO' | translate}}</ion-list-header>
    <ion-list *ngFor="let u of movimenti" >
      <ion-item *ngIf="u.categoria.segno == false">
          <button ion-button (click)="UpdateMovimento(u)"class="buttonList" block outline>
            <ion-grid>
            <ion-row>
              <ion-col col-8><h2 class="alignLeft">{{u.categoria.nome}}</h2></ion-col>
              <ion-col col><h2 class="redButton">{{'CURRENCY_VALUE'| translate}} {{u.importo}}</h2></ion-col>
            </ion-row>
          </ion-grid>
          </button>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>