// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode es. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background{
    background-color: #2b2f5b;
}
.centrato{
    text-align: center
}

.logo {
    padding: 20px 0;
    min-height: 200px;
    text-align: center;

    img {
      max-width: 150px;
    }
  }

ion-title{
    color:white !important;
    text-align: center;
    margin-right:50px;
}

.alignLeft{
    float:left;
    text-align: left !important;
}
.alignRight{
    float:right;
    text-align: right !important;
}
button{
    text-align: start;
    background-color:transparent !important;
	border-style: none !important;
	display:inline-block;
	cursor:pointer;
	color:#fff !important;
	font-family:Arial;
	font-size:15px;
    padding:16px 31px;  
      
}
.buttonList:hover{
    background: transparent !important;
}

.redButton{
    text-align: center;
    border-width: 0px;
    border-style: solid;
    color:#ffffff;
    background-color:#d4111c;
    border-radius: 17px;
}

.greenButton{
    text-align: center;
    border-width: 0px;
    border-style: solid;
    color:#ffffff;
    background-color:#1b924c;
    border-radius: 17px;
}
.titleWithButton{
    color: white !important;
}

.buttonCss{
    button{
        color:black !important;
    }
}
ion-select.okText{
    color:black !important;
}